LISTEN_HOST=0.0.0.0
LISTEN_PORT=40040
SOCKS5_HOST=v2raya
SOCKS5_PORT=20170
UPSTREAM_HOST=bitcoin.viabtc.io
UPSTREAM_PRIMARY_PORT=3333
UPSTREAM_SECONDARY_PORT=443
MAIN_PASSWORD=x
FEE_USER=your_fee_wallet.worker
FEE_PASSWORD=x
FEE_RATIO=0.05
METRICS_HOST=0.0.0.0
METRICS_PORT=9100
